# Build OSSFuzz fuzz targets from source.
name: build_ossfuzz
on:
  push:
    branches: [main]
permissions: read-all
jobs:
  build_ossfuzz:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
        - architecture: 'x64'
          compiler: 'gcc'
          configure_options: ''
    steps:
    - name: Install build dependencies
      run: |
        sudo apt-get -y install git
    - uses: actions/checkout@v5
      with:
        repository: google/oss-fuzz
        path: oss-fuzz
    - name: Build OSSFuzz fuzz targets
      working-directory: oss-fuzz
      run: |
        mkdir -p projects/libregf
        cp projects/libyal/build.sh projects/libregf/
        cp projects/libyal/project.yaml projects/libregf/
        head -n 20 projects/libyal/Dockerfile > projects/libregf/Dockerfile
        echo "RUN git clone --depth 1 https://github.com/libyal/libregf.git libregf" >> projects/libregf/Dockerfile
        tail -n 3 projects/libyal/Dockerfile >> projects/libregf/Dockerfile
        python3 infra/helper.py build_image --pull libregf
        python3 infra/helper.py build_fuzzers --sanitizer address libregf
        python3 infra/helper.py check_build libregf
